{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>DBank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="{% static  'assets/main.css' %}"/>
    <link rel="stylesheet" href="{% static  'assets/form.css' %}">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <div class="divider"></div>
        <form method="POST">
            {% csrf_token %}
            <h2>Username</h2>
            <input id="input-amount" type="username"  name="username" value="" />
            <h2>Password</h2>
            <input id="withdrawal-amount" type="password" name="password" value="" />
            <input id="submit-btn" type="submit" value="Login" />
            <div id="error"></div>
        </form>
    </div>
</body>
<script src="{% static 'assets/index.js' %}"></script>

</html>